@font-face {
    font-family: 'Gibson';
    src: url('/fonts/Gibson-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Gibson';
    src: url('/fonts/Gibson-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Gibson';
    src: url('/fonts/Gibson-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Gibson';
    src: url('/fonts/Gibson-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Gibson';
    src: url('/fonts/Gibson-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Gibson';
    src: url('/fonts/Gibson-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Gibson';
    src: url('/fonts/Gibson-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Gibson';
    src: url('/fonts/Gibson-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "Harmonia Sans";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("//mate-bike.jp/cdn/fonts/harmonia_sans/harmoniasans_n6.dd3d6084d29e4754e80fe6aa1c0e37f511474ffa.woff2?h1=bWF0ZWJpa2UtanAuYWNjb3VudC5teXNob3BpZnkuY29t&h2=bWF0ZS1iaWtlLmpw&hmac=e7033e9efabb7e01a70a7cf2415669cd33221bf8d49d032857b4f47c1a9d3a82") format("woff2"),
         url("//mate-bike.jp/cdn/fonts/harmonia_sans/harmoniasans_n6.b0d6879084373b473d0c7a4c3d54ece9c289cbb4.woff?h1=bWF0ZWJpa2UtanAuYWNjb3VudC5teXNob3BpZnkuY29t&h2=bWF0ZS1iaWtlLmpw&hmac=0bad18771e37338d8507c9b99abe3a89135265eb638244369e7710a0b8a3f79c") format("woff");
  }
  
  @font-face {
    font-family: Chivo;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("//mate-bike.jp/cdn/fonts/chivo/chivo_n4.bf4dc1c0e4649d2f5a28281870307415c2a9c652.woff2?h1=bWF0ZWJpa2UtanAuYWNjb3VudC5teXNob3BpZnkuY29t&h2=bWF0ZS1iaWtlLmpw&hmac=617a7cb1dd8d4a2d6c1484f22cecf63fad4c318019d1f36b321de7bd361477fb") format("woff2"),
         url("//mate-bike.jp/cdn/fonts/chivo/chivo_n4.c44f905e08fb3fb913ad750486da37926e77c01e.woff?h1=bWF0ZWJpa2UtanAuYWNjb3VudC5teXNob3BpZnkuY29t&h2=bWF0ZS1iaWtlLmpw&hmac=755eb6cf0760d0db422d37a7f37acfd15f8849bd0b6a81bfb8eafa9f42e421b4") format("woff");
  }
  
  
  
    @font-face {
    font-family: "Harmonia Sans";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("//mate-bike.jp/cdn/fonts/harmonia_sans/harmoniasans_n7.db6a243cdeddb2eba0b2e8fccdce1e6910fd06d0.woff2?h1=bWF0ZWJpa2UtanAuYWNjb3VudC5teXNob3BpZnkuY29t&h2=bWF0ZS1iaWtlLmpw&hmac=e944d574d16a3b23bdb8129f6a8f330f220357dcd06472d4ebed71d7a4731cec") format("woff2"),
         url("//mate-bike.jp/cdn/fonts/harmonia_sans/harmoniasans_n7.a069bd4d0320d5bc303f7f96d7bf28abc297b6aa.woff?h1=bWF0ZWJpa2UtanAuYWNjb3VudC5teXNob3BpZnkuY29t&h2=bWF0ZS1iaWtlLmpw&hmac=8f5e2a5597218ad15bbd1ec34dc17683c5e6a459853248b9390d0b1f6468ea07") format("woff");
  }
  
  
  
  
    @font-face {
    font-family: "Harmonia Sans";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("//mate-bike.jp/cdn/fonts/harmonia_sans/harmoniasans_n4.73cf0589f7839ec88463a09f5335a2885467ed0c.woff2?h1=bWF0ZWJpa2UtanAuYWNjb3VudC5teXNob3BpZnkuY29t&h2=bWF0ZS1iaWtlLmpw&hmac=c4483dc9c69d01bb6555bf54c6981631babcc3b113a1842d1dbcae35f026ce65") format("woff2"),
         url("//mate-bike.jp/cdn/fonts/harmonia_sans/harmoniasans_n4.1c5276ef69780b63aa8f0ba7897fb3bc87270bb0.woff?h1=bWF0ZWJpa2UtanAuYWNjb3VudC5teXNob3BpZnkuY29t&h2=bWF0ZS1iaWtlLmpw&hmac=c28ec03f2be8c42863cfeec05034564f35edf944debb75c1cf60814ec7260e53") format("woff");
  }
  
  
  
  
    @font-face {
    font-family: "Harmonia Sans";
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("//mate-bike.jp/cdn/fonts/harmonia_sans/harmoniasans_n9.4646a262fe85cf96a93b88311b95c5c5f4588d22.woff2?h1=bWF0ZWJpa2UtanAuYWNjb3VudC5teXNob3BpZnkuY29t&h2=bWF0ZS1iaWtlLmpw&hmac=554218b1e45834299178f425a4a765a7be1401fd7dca99d94767d0dc9b68a07c") format("woff2"),
         url("//mate-bike.jp/cdn/fonts/harmonia_sans/harmoniasans_n9.dabdbffb658ce2e247bb0a0b879ca4314101c8bc.woff?h1=bWF0ZWJpa2UtanAuYWNjb3VudC5teXNob3BpZnkuY29t&h2=bWF0ZS1iaWtlLmpw&hmac=9fb9bf68912919e9778d2a1e6f8479c1cf293704259c61731b29eb032d57c601") format("woff");
  }
  
  
  
  
    @font-face {
    font-family: Chivo;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("//mate-bike.jp/cdn/fonts/chivo/chivo_n3.5a4af59837ac5ab11add0e1b1e824ac9635aac4a.woff2?h1=bWF0ZWJpa2UtanAuYWNjb3VudC5teXNob3BpZnkuY29t&h2=bWF0ZS1iaWtlLmpw&hmac=46c79620114568491062f5037f6695ad9a648ee7623470d52e44b971f29f79eb") format("woff2"),
         url("//mate-bike.jp/cdn/fonts/chivo/chivo_n3.162c793857fc10d94c8104e19bc6fb3587a027e6.woff?h1=bWF0ZWJpa2UtanAuYWNjb3VudC5teXNob3BpZnkuY29t&h2=bWF0ZS1iaWtlLmpw&hmac=6cc94e70b34e7092e69ad444221ebc32ce3b116aa6716ce4a09a70e73e478bae") format("woff");
  }
  
  
  
  
    @font-face {
    font-family: Chivo;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("//mate-bike.jp/cdn/fonts/chivo/chivo_n7.d83b4aaa520af8b24ea0f1eb81a6d2d8b1a2ad49.woff2?h1=bWF0ZWJpa2UtanAuYWNjb3VudC5teXNob3BpZnkuY29t&h2=bWF0ZS1iaWtlLmpw&hmac=726d7c1a3071fca200dc057afe128ce08853dcb72c155da4d614a36b6ea6cef0") format("woff2"),
         url("//mate-bike.jp/cdn/fonts/chivo/chivo_n7.ca33be8a8668a1a14638e19419769677d3ae8d49.woff?h1=bWF0ZWJpa2UtanAuYWNjb3VudC5teXNob3BpZnkuY29t&h2=bWF0ZS1iaWtlLmpw&hmac=9e567d9cb84667d24e697325f6413d1669680d89edf407d6363f499de29b23b7") format("woff");
  }
  
  
  
  
    @font-face {
    font-family: Chivo;
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url("//mate-bike.jp/cdn/fonts/chivo/chivo_i4.470484818143ea189f363c3f40b1b964b6f9b99a.woff2?h1=bWF0ZWJpa2UtanAuYWNjb3VudC5teXNob3BpZnkuY29t&h2=bWF0ZS1iaWtlLmpw&hmac=f3ee641759ee22c99c118b6bfe4b9bcd6e140053c03a2c1b0617debe397bd722") format("woff2"),
         url("//mate-bike.jp/cdn/fonts/chivo/chivo_i4.200ce5592d4f6e30c5616533857fb75f86392d06.woff?h1=bWF0ZWJpa2UtanAuYWNjb3VudC5teXNob3BpZnkuY29t&h2=bWF0ZS1iaWtlLmpw&hmac=ea41516cd34938e3355fa2c47d25c5d407f14ea63225c62533fe970aeb46fd96") format("woff");
  }
  
  
  
  
    @font-face {
    font-family: Chivo;
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src: url("//mate-bike.jp/cdn/fonts/chivo/chivo_i7.29b3e3bf6a0a27a521a72b1c0827afe238bbc3c2.woff2?h1=bWF0ZWJpa2UtanAuYWNjb3VudC5teXNob3BpZnkuY29t&h2=bWF0ZS1iaWtlLmpw&hmac=aaaeeb19e105b932f80e62139abd320a949e13cb263b995914915c7904aa16f3") format("woff2"),
         url("//mate-bike.jp/cdn/fonts/chivo/chivo_i7.a5526f7fe5855e716c95dfc91ed717abaf648aae.woff?h1=bWF0ZWJpa2UtanAuYWNjb3VudC5teXNob3BpZnkuY29t&h2=bWF0ZS1iaWtlLmpw&hmac=6d32053bab1346dec2f482f12703695d7293a5b03dc3a4c2338d28707b8f239f") format("woff");
  }
  
  
  :root {--COLOR-BUTTON-PRIMARY-BG: #000;
    --COLOR-BUTTON-PRIMARY-BG-HOVER: #ffffff;--PRIMARY-BG-TRANSITION: background 0s linear 0s;
      --PRIMARY-BG-TRANSITION-HOVER: background 0s linear 0.3s;--COLOR-BUTTON-PRIMARY-TEXT: #ffffff;--COLOR-BUTTON-PRIMARY-TEXT-HOVER: #000;--COLOR-BUTTON-PRIMARY-BORDER: #0f0f0f;--PRIMARY-BUTTON-BORDER: var(--BORDER-WIDTH) solid var(--COLOR-BUTTON-PRIMARY-BORDER);--COLOR-BUTTON-PRIMARY-BORDER-HOVER: #000;--PRIMARY-BUTTON-BORDER-HOVER: var(--BORDER-WIDTH) solid var(--COLOR-BUTTON-PRIMARY-BORDER-HOVER);--COLOR-BUTTON-PRIMARY-FADE: rgba(0, 0, 0, 0.05);
    --COLOR-BUTTON-PRIMARY-BG-ALPHA-50: rgba(0, 0, 0, 0.5);
    --COLOR-BUTTON-PRIMARY-TEXT-ALPHA-50: rgba(255, 255, 255, 0.5);
  
    --COLOR-BUTTON-SECONDARY-BG: #ffffff;
    --COLOR-BUTTON-SECONDARY-BG-HOVER: #000000;--SECONDARY-BG-TRANSITION: background 0s linear 0s;
      --SECONDARY-BG-TRANSITION-HOVER: background 0s linear 0.3s;--COLOR-BUTTON-SECONDARY-TEXT: #282828;--COLOR-BUTTON-SECONDARY-TEXT-HOVER: #ffffff;--COLOR-BUTTON-SECONDARY-BORDER: #282828;--SECONDARY-BUTTON-BORDER: var(--BORDER-WIDTH) solid var(--COLOR-BUTTON-SECONDARY-BORDER);--COLOR-BUTTON-SECONDARY-BORDER-HOVER: #282828;--SECONDARY-BUTTON-BORDER-HOVER: var(--BORDER-WIDTH) solid var(--COLOR-BUTTON-SECONDARY-BORDER-HOVER);--COLOR-BUTTON-SECONDARY-TEXT-ALPHA-50: rgba(40, 40, 40, 0.5);
  
    --COLOR-HEADING: #282828;
    --COLOR-TEXT: #282828;
    --COLOR-TEXT-DARKEN: #000000;
    --COLOR-TEXT-LIGHTEN: #5b5b5b;
    --COLOR-TEXT-ALPHA-5: rgba(40, 40, 40, 0.05);
    --COLOR-TEXT-ALPHA-8: rgba(40, 40, 40, 0.08);
    --COLOR-TEXT-ALPHA-10: rgba(40, 40, 40, 0.1);
    --COLOR-TEXT-ALPHA-15: rgba(40, 40, 40, 0.15);
    --COLOR-TEXT-ALPHA-20: rgba(40, 40, 40, 0.2);
    --COLOR-TEXT-ALPHA-25: rgba(40, 40, 40, 0.25);
    --COLOR-TEXT-ALPHA-50: rgba(40, 40, 40, 0.5);
    --COLOR-TEXT-ALPHA-60: rgba(40, 40, 40, 0.6);
    --COLOR-TEXT-ALPHA-85: rgba(40, 40, 40, 0.85);
  
    --COLOR-BG: #ffffff;
    --COLOR-BG-ALPHA-25: rgba(255, 255, 255, 0.25);
    --COLOR-BG-ALPHA-35: rgba(255, 255, 255, 0.35);
    --COLOR-BG-ALPHA-60: rgba(255, 255, 255, 0.6);
    --COLOR-BG-ALPHA-65: rgba(255, 255, 255, 0.65);
    --COLOR-BG-ALPHA-85: rgba(255, 255, 255, 0.85);
    --COLOR-BG-OVERLAY: rgba(255, 255, 255, 0.75);
    --COLOR-BG-DARKEN: #e6e6e6;
    --COLOR-BG-LIGHTEN-DARKEN: #e6e6e6;
    --COLOR-BG-LIGHTEN-DARKEN-2: #cdcdcd;
    --COLOR-BG-LIGHTEN-DARKEN-3: #b3b3b3;
    --COLOR-BG-LIGHTEN-DARKEN-4: #9a9a9a;
    --COLOR-BG-LIGHTEN-DARKEN-CONTRAST: #b3b3b3;
    --COLOR-BG-LIGHTEN-DARKEN-CONTRAST-2: #999999;
    --COLOR-BG-LIGHTEN-DARKEN-CONTRAST-3: #808080;
    --COLOR-BG-LIGHTEN-DARKEN-CONTRAST-4: #666666;
  
    --COLOR-BG-SECONDARY: #f8f8f0;
    --COLOR-BG-SECONDARY-LIGHTEN-DARKEN: #e8e8cd;
    --COLOR-BG-SECONDARY-LIGHTEN-DARKEN-CONTRAST: #9f9f4a;
  
    --COLOR-BG-ACCENT: #f7f7f7;
  
    --COLOR-INPUT-BG: #ffffff;
  
    --COLOR-ACCENT: #0000ff;
    --COLOR-ACCENT-TEXT: #fff;
  
    --COLOR-TAG-SAVING: #d43747;
    --COLOR-TAG-SAVING-TEXT: #fff;
  
    --COLOR-TAG-CUSTOM: #000;
    --COLOR-TAG-TEXT: #fff;
  
    --COLOR-BORDER: #d3d3d3;
    --COLOR-BORDER-ALPHA-15: rgba(211, 211, 211, 0.15);
    --COLOR-BORDER-ALPHA-30: rgba(211, 211, 211, 0.3);
    --COLOR-BORDER-ALPHA-50: rgba(211, 211, 211, 0.5);
    --COLOR-BORDER-ALPHA-65: rgba(211, 211, 211, 0.65);
    --COLOR-BORDER-LIGHTEN-DARKEN: #868686;
    --COLOR-BORDER-HAIRLINE: #f7f7f7;
  
    --COLOR-WHITE-BLACK: fff;
    --COLOR-BLACK-WHITE: #000;--COLOR-DISABLED-GREY: rgba(40, 40, 40, 0.05);
    --COLOR-DISABLED-GREY-DARKEN: rgba(40, 40, 40, 0.45);
    --COLOR-ERROR: #D02E2E;
    --COLOR-ERROR-BG: #f3cbcb;
    --COLOR-SUCCESS: #56AD6A;
    --COLOR-SUCCESS-BG: #ECFEF0;
    --COLOR-WARN: #ECBD5E;
    --COLOR-TRANSPARENT: rgba(255, 255, 255, 0);
    --COLOR-WHITE: #fff;
    --COLOR-WHITE-ALPHA-50: rgba(255, 255, 255, 0.5);
    --COLOR-WHITE-ALPHA-60: rgba(255, 255, 255, 0.6);
    --COLOR-BLACK: #000;
    --COLOR-BLACK-ALPHA-20: rgba(0, 0, 0, 0.2);
    --COLOR-BLACK-ALPHA-50: rgba(0, 0, 0, 0.5);
    --COLOR-BLACK-ALPHA-60: rgba(0, 0, 0, 0.6);--FONT-STACK-BODY: Chivo, sans-serif;
    --FONT-STYLE-BODY: normal;
    --FONT-STYLE-BODY-ITALIC: italic;
    --FONT-ADJUST-BODY: 1.0;
  
    --FONT-WEIGHT-BODY: 400;
    --FONT-WEIGHT-BODY-LIGHT: 300;
    --FONT-WEIGHT-BODY-MEDIUM: 700;
    --FONT-WEIGHT-BODY-BOLD: 700;
  
    --FONT-STACK-HEADING: "Harmonia Sans", sans-serif;
    --FONT-STYLE-HEADING: normal;
    --FONT-STYLE-HEADING-ITALIC: italic;
    --FONT-ADJUST-HEADING: 1.0;
  
    --FONT-WEIGHT-HEADING: 600;
    --FONT-WEIGHT-HEADING-LIGHT: 400;
    --FONT-WEIGHT-HEADING-MEDIUM: 900;
    --FONT-WEIGHT-HEADING-BOLD: 700;
  
    --FONT-STACK-NAV: Chivo, sans-serif;
    --FONT-STYLE-NAV: normal;
    --FONT-STYLE-NAV-ITALIC: italic;
    --FONT-ADJUST-NAV: 0.9;
  
    --FONT-WEIGHT-NAV: 400;
    --FONT-WEIGHT-NAV-LIGHT: 300;
    --FONT-WEIGHT-NAV-MEDIUM: 700;
    --FONT-WEIGHT-NAV-BOLD: 700;
  
    --FONT-STACK-BUTTON: Chivo, sans-serif;
    --FONT-STYLE-BUTTON: normal;
    --FONT-STYLE-BUTTON-ITALIC: italic;
    --FONT-ADJUST-BUTTON: 0.9;
  
    --FONT-WEIGHT-BUTTON: 400;
    --FONT-WEIGHT-BUTTON-MEDIUM: 700;
    --FONT-WEIGHT-BUTTON-BOLD: 700;
  
    --FONT-STACK-SUBHEADING: Chivo, sans-serif;
    --FONT-STYLE-SUBHEADING: normal;
    --FONT-STYLE-SUBHEADING-ITALIC: italic;
    --FONT-ADJUST-SUBHEADING: 1.0;
  
    --FONT-WEIGHT-SUBHEADING: 400;
    --FONT-WEIGHT-SUBHEADING-LIGHT: 300;
    --FONT-WEIGHT-SUBHEADING-MEDIUM: 700;
    --FONT-WEIGHT-SUBHEADING-BOLD: 700;
  
    --LETTER-SPACING-SUBHEADING: 0.0em;
    --LETTER-SPACING-BUTTON: 0.0em;
  
    --BUTTON-TEXT-CAPS: none;
    --SUBHEADING-TEXT-CAPS: none;--FONT-SIZE-INPUT: 1.0rem;--RADIUS: 8px;
    --RADIUS-SMALL: 8px;
    --RADIUS-TINY: 8px;
    --RADIUS-BADGE: 3px;
    --RADIUS-CHECKBOX: 4px;
    --RADIUS-TEXTAREA: 8px;--PRODUCT-MEDIA-PADDING-TOP: 90.0%;--BORDER-WIDTH: 1px;--STROKE-WIDTH: 12px;--SITE-WIDTH: 1440px;
    --SITE-WIDTH: 1024px;
    --SITE-WIDTH-NARROW: 840px;--ICON-ARROW-RIGHT: url( "//mate-bike.jp/cdn/shop/t/29/assets/icon-chevron-right.svg?v=115618353204357621731742524538" );--loading-svg: url( "//mate-bike.jp/cdn/shop/t/29/assets/loading.svg?v=91665432863842511931742524556" );
    --icon-check: url( "//mate-bike.jp/cdn/shop/t/29/assets/icon-check.svg?v=175316081881880408121742524537" );
    --icon-check-swatch: url( "//mate-bike.jp/cdn/shop/t/29/assets/icon-check-swatch.svg?v=131897745589030387781742524537" );
    --icon-zoom-in: url( "//mate-bike.jp/cdn/shop/t/29/assets/icon-zoom-in.svg?v=157433013461716915331742524539" );
    --icon-zoom-out: url( "//mate-bike.jp/cdn/shop/t/29/assets/icon-zoom-out.svg?v=164909107869959372931742524539" );--collection-sticky-bar-height: 0;
    --collection-image-padding-top: 60%;
  
    --drawer-width: 400px;
    --drawer-transition: transform 0.4s cubic-bezier(0.46, 0.01, 0.32, 1);--full-height: 100vh;
    /* --header-height: 60px;
    --has-scrolled-header-height: 60px; */
    --header-height: 56px;
    --has-scrolled-header-height: 56px;
    --announcement-height: 0px;
    --content-full: calc(100vh - var(--header-height) - var(--announcement-height));--gutter: 60px;
    --gutter: 20px;
    --gutter-mobile: 10px;
    --grid-gutter: 20px;
    --grid-gutter-mobile: 35px;--inner: 20px;
    --inner-tablet: 18px;
    --inner-mobile: 16px;--grid: repeat(4, minmax(0, 1fr));
    --grid-tablet: repeat(2, minmax(0, 1fr));
    --grid-mobile: repeat(2, minmax(0, 1fr));
    --megamenu-grid: repeat(4, minmax(0, 1fr));
    --grid-row: 1 / span 4;--scrollbar-width: 0px;--overlay: #000;
    --overlay-opacity: 1;--swatch-width: 40px;
    --swatch-height: 20px;
    
    --swatch-size: 25px;
    --swatch-size-mobile: 30px;
  
    
    --move-offset: 20px;
  
    
    --autoplay-speed: 2200ms;
  
    
  
      --filter-bg: 1.0;
      --product-filter-bg: 1.0;
    }  